.title {
  font-family: 'Raleway';
  font-size: 2.8rem;
  letter-spacing:0.175rem;
  text-align: center;
  color: var(--color-blue-strong);
  font-weight: 400;
}

.modalContainer {
  padding: 6rem 7.7rem;
}

.legend {
  font-family: 'Lato';
  font-size: 1.4rem;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.08rem;
  text-align: center;
  color: var(--color-gray-600);
}

.accountTypesContainer {
  display: flex;
  gap: 1.5rem;
  margin-top: 2.6rem;
}

.closeIcon {
  font-size: 2rem;
  color: var(--color-gray-400);
  position: absolute;
  right: 3rem;
  top: 2rem;
  cursor: pointer;
}
