
.badge {
  position: absolute;
  height: 1rem;
  width: 100%;
  bottom: .5rem;
  left: 0;
  z-index: -1;
  @apply lg:h-4;
}

.badge-red {
  background: #e95565;
}

.badge-green {
  background: #3cc3af;
}

.badge-blue {
  background: #2463af;
}