/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

h1 {
  @apply font-raleway font-bold antialiased;
}
h2 {
  @apply text-5xl font-raleway font-normal antialiased mb-10;
}

.btn {
  @apply py-4 px-6 rounded;
}

.btn-primary {
  @apply bg-blue text-white text-base uppercase tracking-wide font-normal font-lato;
}

.group-box {
  @apply transition-all duration-300 ease-in-out items-start gap-4   border flex flex-col px-8 py-12 border-gray-300 rounded cursor-pointer;
}

.group-box:first-child {
  @apply ml-10;
}

.group-box:hover {
  @apply bg-gradient-to-r from-blue-dark to-blue;
}

.group-box:hover h3,
.group-box:hover p {
  @apply text-white;
}

.group-box:hover svg path {
  fill: #ffffff;
}

.tabs-container {
  position: relative;
}

.tabs-container:before {
  @apply bg-gray-400;
  display: block;
  position: absolute;
  left: 0;
  top: 3rem;
  content: '';
  width: 1px;
  height: 82%;
}

.tab-line {
  max-height: 134px;
  background: linear-gradient(to bottom, #123861, #2463af);
  height: 100%;
  width: 3px;
  position: absolute;
  left: -1px;
  top: 3rem;
  transition: all 0.2s ease-in-out;
}

.flickity-prev-next-button {
  display: none;
}

.flickity-slider div:not(.is-selected) {
  transform: scale(0.8);
  opacity: 0.8;
}

.flickity-slider > div {
  transition: all 0.3s ease-in-out;
}

ol.flickity-page-dots {
  @apply -bottom-8;
}

li.dot.is-selected {
  @apply bg-transparent border-2 border-black;
}

li.dot {
  @apply border-0 bg-gray-600;
}

.badge {
  position: relative;
}

.badge::before {
  content: '';
  width: 100%;
  height: 1.5rem;
  display: inline-block;
  position: absolute;
  top: 2.5rem;
  z-index: -1;
}

.badge-red:before {
  background: #e95565;
}

.badge-green:before {
  background: #3cc3af;
}

.gradient {
  position: relative;
  background-image: linear-gradient(
    to right,
    hsl(0, 0%, 100%),
    hsl(0, 0%, 100%)
  );
  z-index: 1;
}

.gradient::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #123861, #2463af);
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
}

.gradient:hover::before {
  opacity: 1;
}

.about-us-overlay {
  background-image: url('/images/about-us-background-overlay.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.about-us-columns {
  column-count: 2;
  column-gap: 6rem;
}

.who-we-are {
  column-count: 2;
  column-gap: 4rem;
}

@tailwind utilities;
